<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

    <title>LoadBoard Dispatch::Your Trucking and Logistics Partner @ViewData["Title"]</title>    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Load Board ,Transportation,Freight" />

    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="@Url.Content("~/css/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/stellarnav.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.carousel.css")">
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/responsive.css")" rel="stylesheet">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" media="all">

    <!-- Style-CSS -->
    <link href="@Url.Content("~/css/font-awesome.min.3.delaye")" rel="stylesheet">
    <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet">
    <script src="@Url.Content("~/js/vendor/modernizr-2.8.3.min.js")"></script>
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->

    <link href="http://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body id="home">



    <!-- header -->
    @*<div class="header-top-area">
            <!--MAINMENU AREA-->
            <div class="mainmenu-area" id="mainmenu-area">
                <div class="mainmenu-area-bg"></div>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img src="@Url.Content("~/Assets/img/logo.png")" alt="logo"></a>
                        </div>
                        <div class="search-and-language-bar pull-right">
                            <ul>
                                <li class="login-box"><i class="fa fa-user" title="Login to Account"></i></li>
                                <li class="search-box"><i class="fa fa-search"></i></li>
                                <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-shopping-bag" title="Register"></i></a></li>
                                <li class="select-language">
                                    <select name="#" id="#">
                                        <option selected value="End">ENG</option>

                                    </select>
                                </li>
                            </ul>
                            <form action="@Url.Action("Search", "Account")" class="search-form">
                                <input type="search" name="search" id="search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                            <form action="@Url.Action("Login", "Account")" class="login-form" method="post">
                                <input type="text" placeholder="Email" name="username" id="username"><input type="password" placeholder="Password" name="password" id="password" class="right">

                                <button type="submit"><i class="fa fa-user"></i></button>
                            </form>
                        </div>
                        <div id="main-nav" class="stellarnav">
                            <ul id="nav" class="nav navbar-nav">
                                <li><a href="@Url.Action("about", "Home")">About Us</a></li>

                                <li><a href="@Url.Action("loadboard", "Home")">LoadBoard</a></li>




                                <li>
                                    <a href="@Url.Action("Broker", "Home")">Brokers</a>
                                    <ul>
                                        <li><a href="@Url.Action("Broker", "Home")">How It Works</a></li>
                                        <li><a href="@Url.Action("FindLoads", "Home")">Find Loads</a></li>
                                        <li><a href="@Url.Action("Register", "Account")">Register Company</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("Carrier", "Home")">Carriers</a>
                                    <ul>
                                        <li><a href="@Url.Action("Carrier", "Home")">How It Works</a></li>
                                        <li><a href="@Url.Action("FindLoads", "Home")">Find Loads</a></li>
                                        <li><a href="@Url.Action("Register", "Account")">Register Company</a></li>
                                        <li><a href="@Url.Action("About", "Home")">About History</a></li>
                                        <li><a href="@Url.Action("SerachReport", "Home")">Search Report</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("Shipper", "Home")">Shippers</a>
                                    <ul>
                                        <li><a href="@Url.Action("Shipper", "Home")">How It Works</a></li>
                                        <li><a href="@Url.Action("Connect", "Home")">Connect your goods</a></li>
                                        <li><a href="@Url.Action("ServiceDetails", "Home")">Service Details</a></li>
                                    </ul>
                                </li>


                                <li>
                                    <a href="@Url.Action("Contact", "Home")">Contact</a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--END MAINMENU AREA END-->
        </div>*@


    <!-- header -->
    @RenderSection("Background", required: false)
    <header id="mainmenu-area" class="mainmenu-area">
        <div class="container">

            <div class="header d-lg-flex justify-content-between align-items-center ">
                <!-- logo -->
                <div id="logo" class="pull-left">
                    <h1><a asp-page="/Index">LoadDispatch</a></h1>
                </div>

                <!-- //logo -->
                @*<div class="search-and-language-bar pull-right">
                        <ul>
                            <li class="login-box"><i class="fa fa-user" title="Login to Account"></i></li>
                            <li class="search-box"><i class="fa fa-search"></i></li>
                            <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-shopping-bag" title="Register"></i></a></li>
                            <li class="select-language">
                                <select name="#" id="#">
                                    <option selected value="End">ENG</option>

                                </select>
                            </li>
                        </ul>
                        <form action="@Url.Action("Search", "Account")" class="search-form">
                            <input type="search" name="search" id="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <form action="@Url.Action("Login", "Account")" class="login-form" method="post">
                            <input type="text" placeholder="Email" name="username" id="username"><input type="password" placeholder="Password" name="password" id="password" class="right">

                            <button type="submit"><i class="fa fa-user"></i></button>
                        </form>
                    </div>*@

                <!-- nav -->

                <div class=" ml-lg-5 stellarnav">

                    <ul id="nav">
                        <li><a asp-page="/About">About Us</a></li>

                        <li><a asp-page="/LoadBoard">LoadBoard</a></li>




                        <li>
                            <a asp-page="/Broker">Brokers</a>
                            <ul>
                                <li><a asp-page="/Broker">How It Works</a></li>
                                <li><a asp-page="/FindLoads">Find Loads</a></li>
                                <li><a asp-page="/FindTrucks">Find Trucks</a></li>
                                <li><a asp-page="/Account/Register">Register Company</a></li>
                            </ul>
                        </li>
                        <li>
                            <a asp-page="/Carrier">Carriers</a>
                            <ul>
                                <li><a asp-page="/Carrier">How It Works</a></li>
                                <li><a asp-page="/FindLoads">Find Loads</a></li>
                                <li><a asp-page="/Account/Register">Register Company</a></li>
                                <li><a asp-page="/About">About History</a></li>
                                <li><a asp-page="/SearchReport">Search Report</a></li>

                            </ul>
                        </li>
                        <li>
                            <a asp-page="/Shipper">Shippers</a>
                            <ul>
                                <li><a asp-page="/Shipper">How It Works</a></li>
                                <li><a asp-page="/FindTrucks">Find Trucks</a></li>
                                <li><a asp-page="/Connect">Connect your goods</a></li>
                                <li><a asp-page="/ServiceDetails">Service Details</a></li>
                            </ul>
                        </li>


                        <li>
                            <a asp-page="/Contact">Contact</a>

                        </li>


                    </ul>

                </div>
                @*<div class="search-and-language-bar pull-right">
                        <ul>
                            <li><i class="fa fa-user" title="Login to Account"></i></li>
                            <li class="search-box"><i class="fa fa-search"></i></li>
                            <li><a asp-page="/Account/Register"><i class="fa fa-shopping-bag" title="Register"></i></a></li>


                        </ul>
                        <form asp-page-handler="/Account/Search" class="search-form">
                            <input type="search" name="search" id="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <form asp-page-handler="/Account/Login" class="login-form" method="post">
                            <input type="text" placeholder="Email" name="username" id="username"><input type="password" placeholder="Password" name="password" id="password" class="right">

                            <button type="submit"><i class="fa fa-user"></i></button>
                        </form>
                    </div>*@
                @*<div class="search-and-language-bar pull-right">
                        <ul>
                            <li class="login-box"><i class="fa fa-user" title="Login to Account"></i></li>

                            <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-shopping-bag" title="Register"></i></a></li>

                        </ul>

                        <form action="@Url.Action("Login", "Account")" class="login-form" method="post">
                            <input type="text" placeholder="Email" name="username" id="username"><input type="password" placeholder="Password" name="password" id="password" class="right">

                            <button type="submit"><i class="fa fa-user"></i></button>
                        </form>
                    </div>*@
                <!-- //nav -->
            </div>
        </div>
    </header>
    <!-- //header -->
    <!-- //header
    <partial name="_CookieConsentPartial" /> -->
    @RenderBody()
    <!-- footer -->
    <footer class="footer py-md-5 pt-md-3 pb-sm-5">
        <div class="container">
            <div class="row p-sm-4 px-3 py-3">
                <div class="col-lg-4 footer-top mt-md-0 mt-sm-5">
                    <h2>
                        <a class="navbar-brand" href="index.html">
                            Load Dispatch
                        </a>
                    </h2>
                    <div class="fv3-contact mt-2">
                        <p>
                            <a href="mailto:info@loaddispatchng.com">info@loaddispatchng.com</a>
                        </p>
                    </div>
                    <div class="fv3-contact my-2">
                        <p>Telephone</p>
                    </div>
                    <div class="fv3-contact">
                        <p>
                            Operational Address
                            <br>
                        </p>
                    </div>
                </div>
                <div class="col-lg-2  col-md-6 mt-lg-0 mt-4">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Navigation</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li>
                                <a asp-page="/Index">
                                    Home
                                </a>
                            </li>
                            <li class="my-2">
                                <a asp-page="/About">
                                    About Us
                                </a>
                            </li>
                            <li class="my-2">
                                <a asp-page="/Broker">
                                    Brokers
                                </a>
                            </li>
                            <li class="mb-2">
                                <a asp-page="/Carrier">
                                    Carriers
                                </a>
                            </li>
                            <li>
                                <a asp-page="/Contact">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2  col-md-6 mt-lg-0 mt-4">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Tracker</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li>
                                <a asp-page="/Mission">
                                    Our Mission
                                </a>
                            </li>
                            <li class="my-2">
                                <a asp-page="/Tracker">
                                    Track your goods
                                </a>
                            </li>
                            <li class="my-2">
                                <a asp-page="/Service">
                                    Our Services
                                </a>
                            </li>
                            <li class="mb-2">
                                <a asp-page="/FindLoadBoard">
                                    Find us
                                </a>
                            </li>
                            <li>
                                <a asp-page="/Privacy">
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-lg-0 mt-4">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Links</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li>
                                <a href="single.html">
                                    more
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="portfolio.html">
                                    our work
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="about.html">
                                    Explore
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="contact.html">
                                    contact us
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    references
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2  col-md-6 mt-lg-0 mt-4">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Links</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li class="my-2">
                                <a href="portfolio.html">
                                    Explore
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    Our Mission
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="single.html">
                                    Latest posts
                                </a>
                            </li>

                            <li class="mb-2">
                                <a href="contact.html">
                                    Find us
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- //footer bottom -->
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center bg-theme">
        <p class="text-wh">
            © 2019 Freight. All rights reserved | Design by SomeCompany

        </p>
    </div>
    <!-- //copyright -->
    <!-- move top icon -->
    <a href="#home" class="move-top text-center">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </a>
    <!-- //move top icon -->


    <script src="@Url.Content("~/js/vendor/jquery-1.12.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendor/bootstrap.min.js")"></script>

    <!--====== PLUGINS JS ======-->
    <script src="@Url.Content("~/js/vendor/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/js/vendor/jquery-migrate-1.2.1.min.js")"></script>
    <script src="@Url.Content("~/js/vendor/jquery.appear.js")"></script>
    <script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/js/stellar.js")"></script>
    <script src="@Url.Content("~/js/wow.min.js")"></script>
    <script src="@Url.Content("~/js/stellarnav.min.js")"></script>
    <script src="@Url.Content("~/js/contact-form.js")"></script>
    <script src="@Url.Content("~/js/jquery.sticky.js")"></script>

    <!--===== ACTIVE JS=====-->
    <script src="@Url.Content("~/js/main.js")"></script>
    @RenderSection("Scripts", required: false)



</body>


</html>